<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-primary fs-2 fw-bold" routerLink="/">
        <!-- <i class="fa fa-phone"></i>&nbsp;         -->
        <h3 style="font-weight: bolder; font-family: 'Rubik Vinyl', cursive;">In <i class="fa-solid fa-hand-point-up" style="color: wheat;"></i> Touch</h3>
      </a>
      <ul style="font-family: 'Rubik Vinyl', cursive;">
        <li>Home</li>
        <li>Add Contact</li>
        <li>View Contact</li>
        <li>Edit</li>
      </ul>

    </div>
  </nav>
